@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/** palette
#f6b4da
#fde482
#bad7c8
#e9d5be
#ce9d8e
**/

body {
  font-family: 'Merriweather', serif;
  background-color: #bad7c8;
}

.col:nth-child(even) .card.appreciation {
  transform: rotate(1deg);
  background-color: #f6b4da;
}

.col:nth-child(odd) .card.appreciation {
  transform: rotate(-1deg);
  background-color: #fde482;
}

