<% title t("views.appreciable_sessions.new.title") %>

<ol class="breadcrumb push_down">
  <li class="active"><%= (t "layouts.breadcrumbs.login_appreciable") %></li>
</ol>

<%= link_to "Login with Google", "/auth/google_oauth2?from=front", :class=> "btn btn-primary" %>
