$chart-width: 200px;
$chart-height: 80px;


.chart-cell {
  width: $chart-width;
}
.chart-wrapper {
  position: relative;
  display: inline-block;
  height: $chart-height;
  width: $chart-width;
  margin: 0;
}
